body{
  padding-top:80px;
  word-wrap:break-word;
  background-image: url("https://cdnroute.bpsgameserver.com/common/Common/Common/neutral/image/2017/03/game.LiveRoulette.backgroundimage_v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
img{
    height: 100px;
    width: 100px;
}

p {
  float: left;
  clear: left;
  margin: 0;
  position: relative;
  bottom: 90px;
  left: 15px;
}

h3, h2 {
  text-align: center;
}

section {
    background: rgba(0,0,0,0.4);
    border: 1px solid white;
    border-radius: 20%;
    padding-bottom: 50px;
}

div{
  color: white;
}

h1{
  background: rgba(0,0,0,0.4);
  border: 1px solid white;
  border-radius: 20%;
  text-align: center;
    font-size: 65px;
    font-family: cursive;
    font-weight: bold;
}

label{
  font-size: 30px;
  margin-left: 33%;
  margin-top: 5%;
  border-radius: 1px;
}
