<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="coin.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><img src="<%= info.medal %>" alt="">Coin Flip</h1>

        <p>Career Wins:<span id="wins"><%= info.winTotal %></span> </p><br>
        <p id="careerLoses">Career Loses: <span id="loses"><%= info.loseTotal %></span></p>
        <p id="moneyHeader">Money in your Pocket $<span id="pocket"> <%= info.money %></span></p>

      <a href="/profile" class="btn btn-default btn-sm">Profile</a>
      <a href="/leader" class="btn btn-default btn-sm">LeaderBoards</a>
      <!-- <a id = "slots" class="btn btn-default btn-sm">Slots</a> -->
      <a href="/roulette" class="btn btn-default btn-sm">Roullette</a>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <section>
    <h2><span id="result"></span></h2>

    <label for="color">Bet on Heads or Tails</label>
    <select name="color" id="color">
      <option value="heads">Heads</option>
      <option value="tails">Tails</option>
    </select>

    <input type="number" placeholder="Place Bet$ here..." value="500"name="bet" required></input>
    <button name="bet" type="submit">Submit</button>

    <br>
    <span></span>
</section>


  </div>

  <script src="coin.js"></script>

</body>

</html>
