<!doctype html>
<html>
<head>
    <title>WELCOME TO THE CASINO</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="container">

    <div>
        <h1>WELCOME TO THE CASINO</h1>

        <p>Login or Signup:</p>

        <a  href="/login" class="btn btn-default"id="login"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>

</div>
</body>
</html>
