<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="roulette.css">
</head>

<body>
  <div class="container">

    <p>Career Wins:<span id="wins"><%= info.winTotal %></span> </p><br>
    <p id="careerLoses">Career Loses: <span id="loses"><%= info.loseTotal %></span></p>

    <div class="page-header text-center">
      <h1><img src="<%= info.medal %>" alt="">Roulette Table</h1>

      <a href="/profile" class="btn btn-default btn-sm">Profile</a>
      <a href="/leader" class="btn btn-default btn-sm">LeaderBoards</a>
      <!-- <a  id = "slots"  class="btn btn-default btn-sm">Slots</a> -->
      <a href="/coinFlip" class="btn btn-default btn-sm">CoinFlip</a>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <h3><img src="https://i.imgur.com/iZIZgCM.gif" alt=""></h3>


    <h2><span id="result"></span></h2>
    <label for="color">Bet on Number, Red, or Black</label>
    <select name="color" id="color">
      <option value="red">Red</option>
      <option value="black">Black</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
      <option value="32">32</option>
      <option value="33">33</option>
      <option value="34">34</option>
      <option value="35">35</option>
      <option value="36">36</option>
    </select>

    <input type="number" placeholder="Place Bet$ here..." name="bet" required></input>
    <button name="bet" type="submit">Submit</button>

    <br>
    <span>Amount of Money in your Pocket $</span>
    <span id="pocket"> <%= info.money %></span>


  </div>

  <script src="main.js"></script>

</body>

</html>
